.container {
    /* width : 50%; */
    background-color: aquamarine;
    /* padding: 10px;
    margin: auto;*/
    text-align: center; 
    display: flex;
    flex-direction: column;
    width: 50vh;
    margin: auto;
}

input {
    padding: 10px;
    margin: 10px;
}

button {
    font-size: medium;
    margin: 10px;
}

/* 
table {
    margin: auto;
    padding-top: 10px;
}
*/

/* 
table {
    margin: auto;
    padding-top: 10px;
}
*/

td {
    font-size: large;
    padding: 2px;
} 